.error-404{
    background: url("../assets/background.jpg") no-repeat;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.error-404 h2{
    font-size: 40px;
    font-weight: 500;
}